<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Manager Navigation</title>
    <link rel="stylesheet" type="text/css" href="LoginStyle.css">
</head>
<body>

    <div id="container3">
        <div id="container">
            <div id="box">
                <h1 id="formHeader"> Manager Navigate </h1>
                <a href="navigationitem.html">
                    <button type="submit" name="notify" value="post"> Item </button>
                </a>
                <a href="navigationsupplier.html">
                    <button type="submit" name="notify" value="post"> Supplier</button>
                </a>
                <a href="">
                    <button type="submit" name="notify" value="post"> User</button>
                </a>
                
            </div>
        </div>

    </div>
</body>


</html>
