<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="LoginStyle.css">
    <script>
        window.onload = function () {
            document.getElementById('Trans_login').innerHTML = "login";
        }
    </script>
</head>

<body>

    <div id="container3">
        <div id="container">
            <div id="box">
                <h1 id="formHeader"> Login </h1>


                <hr>
                <form>

                    <label for="Lang">Choose a Language:</label>
                    <select id="language" onChange="update()">
                        <option value="2">English</option>
                        <option value="1">Arabic</option>
                        
                    </select>
                    

                    <script type="text/javascript">

                        function update() {
                            
                            var select = document.getElementById('language');
                            var option = select.options[select.selectedIndex];

                            
                            
                            
                            //function ( lang_code, trans_key)
                            // translate(option.value , "Trans_login")
                            // this function will return the actual translation 
                            // document.getElementById('Trans_login').innerHTML= retuned result 
                         
                            $.ajax({
                                type: "GET",
                                url: '../Controller/Translation/Translation.php',
                                dataType: 'json',
                                data: { lang_code: option.value, trans_key: "btn_login" },

                                success: function (obj, textstatus) {
                                    
                                    if (!('error' in obj)) {
                                        
                                        document.getElementById('Trans_login').innerHTML = obj.result;
                                        

                                    }
                                    else {
                                        console.log(obj.error);
                                    }
                                }
                            });

                        }


                        
                    </script>
                    <br><br>
                    
                </form>

                <form action="logincontroller.php" method="POST">
                    <label>Enter your login coordinates</label>
                    <input type="text" name="id" id="id" placeholder="Enter your ID">
                    <input type="password" name="pass" id="pass" placeholder="Enter your Password">
                    <button type="submit" name="notify" value="post" id="Trans_login"> </button>
                </form>
            </div>
        </div>

    </div>
</body>


</html>