<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>create new user</title>
    <link rel="stylesheet" type="text/css" href="../LoginStyle.css">
</head>

<body>

    <div id="container3">
        <div id="container">
            <div id="box">
                <h1 id="formHeader"> Create user </h1>


                <hr>
                <form action="../../Controller/User/user-create-controller.php" method="POST">
                    <label></label>
                    <input type="text" name="Name" id="Name" placeholder="Enter Name " required>
                    <input type="number" name="Phone" id="Phone" placeholder="Enter Phone " required>
                    <input type="text" name="Email" id="Email" placeholder="Enter Email " required>
                    <input type="password" name="Password" id="Password" placeholder="Enter Password " required>
                    <input type="number" name="JobTitleId" id="JobTitleId" placeholder="Enter User Job Title Id " required>
                    <button type="submit" name="notify" value="post"> Create </button>
                </form>
            </div>
        </div>

    </div>
</body>


</html>