<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title> Create Invoice </title>
    <link rel="stylesheet" type="text/css" href="../LoginStyle.css">
</head>

<body>

    <div id="container3">
        <div id="container">
            <div id="box">
                <h1 id="formHeader"> Create Invoice </h1>


                <hr>
                <form action="../../Controller/Invoice/invoice-create-controller.php" method="POST">
                    <label></label>
                    <input type="number" name="Total" id="Total" placeholder="Enter Total ">
                    <input type="number" name="CustomerId" id="CustomerId" placeholder="Enter CustomerId ">

                    <button type="submit" name="notify" value="post"> Create </button>
                </form>
            </div>
        </div>

    </div>
</body>


</html>