<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>update user infromation</title>
    <link rel="stylesheet" type="text/css" href="LoginStyle.css">
</head>

<body>

    <div id="container3">
        <div id="container">
            <div id="box">
                <h1 id="formHeader"> Update user </h1>


                <hr>
                <form action="../../Controller/UserUpdateController.php" method="POST">
                    <label></label>
                    <input type="number" name="Id" id="Id" placeholder="Enter id">
                    <input type="text" name="Name" id="Name" placeholder="Enter Name ">
                    <input type="number" name="Phone" id="Phone" placeholder="Enter Phone ">
                    <input type="text" name="Email" id="Email" placeholder="Enter Email ">
                    <input type="password" name="Password" id="Password" placeholder="Enter Password ">
                    <button type="submit" name="notify" value="post"> Update </button>
                </form>
            </div>
        </div>

    </div>
</body>


</html>